body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    text-align: center;
}
.hexColor {
    text-transform: capitalize;
}
.hex {
    font-size: 30px;
}
button {
    color:#f15025;
    border: 3px solid #f15025;
    border-radius: 7px;
    background-color: black;
    font-size: 15px;
    padding: 5px;
    text-transform: capitalize;
    cursor: pointer;
    outline:none;
}
button:hover {
    background-color: #f15025;
    color:black;
    border: 3px solid black;
}